* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 200px;
    background-color: red;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
}

.box {
    background-color: blue;
}
