:root {
    --color-1: #000;
    --color-2: #00f;
    --color-3: #f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 200px;
    background-color: var(--color-3);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
}
