:root {
    --color-1: #000;
    --color-2: #00f;
    --color-3: #f00;
    --color-4: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--color-1);
}

.brand {
    width: 200px;
    height: 100%;
    background-color: var(--color-4);
    float: left;
}

.brand img {
    width: 100%;
    height: 100%;
}

.nav {
    list-style-type: none;
    float: right;
}

.nav-list {
    display: inline-block;
}

.nav-item {
    display: block;
    color: var(--color-4);
    text-decoration: none;
    padding: 15px;
}
